<%= f.label :title, "Options Title" %><br/>
<%= f.text_field :title %><br/><br/>

<%= f.label :description, "Options Description" %><br/>
<%= f.text_field :description %><br/><br/>

<%= f.fields_for :foods do |builder | %>
  <%= render 'food_fields', :f => builder %>
<% end %>

<p><%= link_to_add_fields "Add Food", f, :foods %></p>
